
body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #edc2c2;
    text-align: center;
    margin-top: 80px;
}


h2 {
    display: inline-block;
    background-color: #e4959d; 
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    margin-bottom: 20px;
}


a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e4959d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
    
  

}


a:hover {
    background-color: #c81e2f; 
}